@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

// Variables
@import "variables/sizes";

// Frameworks
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "mixins";
.podcast-player {
    small a {
        display: inline-block;
        font-weight: bolder;
        text-decoration: none;
        border-bottom: 0;
        margin-top: 8px;
    }
    margin-bottom: 1rem;
    // MEJS Overide
    .mejs-audio {
        margin-bottom: 0;
    }

    .mejs-playpause-button {
        width: 6px!important;
        button {
            background-image: none!important;
        }
    }
    &.mini {
        .mejs-container { display: none!important; }
    }
    &.large {
        margin-bottom: 2rem;
    }
}
.episode-header {
    .episode-artwork {
        @include aspect-ratio(600, 600);
        background-size: contain;
        color: #fff;
        #play-episode {
            color: #fff;
            background-color: rgba(0,0,0,0.3);
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            cursor: pointer;
            .dashicons {
                font-size: 100px;
                width: 100px;
                height: 100px;
                text-shadow: 0px 1px 7px rgba(0,0,0,0.5);
                &:not(.paused) {
                    &:before {
                        content: "\f522";
                    }
                }
                &.paused {
                    &:before {
                        content: "\f523";
                    }
                }
            }
        }
    }
    display: table;
    width: 100%;
    color: #fff;
    background: black;
    .episode-artwork-container,
    .episode-info {
        display: table-cell;
        vertical-align: middle;
        @include media($palm){
            display: block;
            width: 100%!important;
        }
    }
    .episode-artwork-container {
        width: 45%;
    }
    .episode-info {
        width: 55%;
        padding: 16px;
        h4,h2 {
            margin: 0;
        }
        text-align: center;
    }
    a.episode-info {
        color: #fff;
        .description {
            text-align: justify;
            display: block;
            padding: 1em;
        }
    }
}


// TKP Specific
#podcast-columns {
    & > div {
        @include media($palm){
            display: block;
            width: 100%!important;
        }
    }
}
